<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route everything through the Laravel public directory
    RewriteRule ^$   public/index.php  [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,QSA]
</IfModule>
